* {
  transition: border-color .2s, box-shadow .2s;
}

body {
  background-color: #2E3440;
  color: #ECEFF4;
  font-family: 'Rubik', sans-serif;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

body.light {
  background-color: #F8F9FB;
  color: #2E3440;
}

h1, h2, h3 {
  color: #ECEFF4;
  margin: 0;
}

.light h1, .light h2, .light h3 {
  color: #2E3440;
}

a {
  color: #81A1C1;
}

p {
  color: #ECEFF4;
  font-size: 20px;
  margin-top: 0px;
}

.light p {
  color: #2E3440;
}

.header {
  width: 100vw;
  position: fixed;
  background-color: #2E3440;
}

.light .header {
  background-color: #F8F9FB;
}

.header__content {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.header__name {
  font-size: 32px;
  font-weight: 500;
}

.header__link {
  color: #ECEFF4;
  font-size: 18px;
  font-weight: 400;
  padding: 4px 10px;
  margin: 0 10px;
  border-radius: 4px;
  text-decoration: none;
}

.light .header__link {
  color: #2E3440;
}

.header__group {
  display: flex;
  align-items: center;
}

.header__theme {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: unset;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}

.header__theme > img {
  width: 19px;
}

.header__link:hover, .header__theme:hover {
  background-color: #434C5E;
}

.light .header__link:hover, .light .header__theme:hover {
  background-color: #D8DEE9;
}

.section > .section__content {
  padding: 80px 94px; 
}

.section__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

.section--about > .section__content {
  padding-top: 160px;
  display: flex;
}

.section--about > .section__content > div {
  flex-basis: 0;
  flex-grow: 1;
}

.face {
  display: block;
  max-width: 240px;
  border-radius: 240px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px 0px;
  margin: 0 auto;
}

.section.section--projects {
  color: #ECEFF4;
  background-color: #292E39;
}

.light .section.section--projects {
  color: #2E3440;
  background-color: #D8DEE9;
}

.anchor-offset {
  visibility: hidden;
  transform: translateY(-80px);
}

.project {
  margin: 80px 0;
}

.project + .project {
  margin-top: 160px;
}

.project__body {
  display: flex;
  align-items: center;
}

.project__body > div + div {
  margin-left: 80px;
}

.project__desc {
  flex-grow: 1;
}

.project__img {
  display: block;
  max-width: 240px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px 0px;
}

.project__title {
  font-size: 32px;
  margin-bottom: 24px;
}

.project p {
  margin-bottom: 10px;
}

.project__tech-list {
  margin: 20px 0;
}

.project__tech {
  margin-right: 20px;
}

.button {
  font-size: 18px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid #4C566A;
  margin-right: 24px;
  text-decoration: none;
  color: #ECEFF4;
  display: inline-block;
}

.light .button {
  color: #2E3440;
  border: 1px solid #2E3440;
}

.button:hover {
  color: #88C0D0;
  border-color: #88C0D0;
}

.light .button:hover {
  color: #5E81AC;
  border-color: #5E81AC;
}

.button.live {
  color: #292E39;
  background-color: #88C0D0;
  border: 0;
  transition: background-color .2s;
}

.button.live:hover {
  background-color: #5E81AC;
}

.light .button.live {
  color: #ECEFF4;
  background-color: #5E81AC;
}

.light .button.live:hover {
  background-color: #445d7b;
}

.divider {
  margin-bottom: -7px;
}

.wiggly-1 {
  fill: #292E39;
}

.light .wiggly-1 {
  fill: #D8DEE9;
}

.wiggly-2 {
  fill: #2E3440;
}

.light .wiggly-2 {
  fill: #F8F9FB;
}

.wiggly-3 {
  fill: #373D4C;
}

.light .wiggly-3 {
  fill: #D8DEE9;
}

.wiggly-4 {
  fill: #39404F;
}

.light .wiggly-4 {
  fill: #e4e8ef;
}

.wiggly-5 {
  fill: #3B4252;
}

.light .wiggly-5 {
  fill: #eef3fb;
}

@media (min-width: 1248px) {
  .header__content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section__content {
    max-width: 1200px;
    padding: 48px calc((100vw - 1200px) / 2);
    margin: 0 auto;
  }
}

@media (max-width: 829px) {
  .header, .project__img {
    display: none;
  }

  .project__body > div + div {
    margin-left: 0;
  }

  .section--about > .section__content {
    padding-top: 32px;
    display: block;
  }

  .section > .section__content {
    padding: 80px 24px; 
  }
}
